<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

        <h3>Assign course to <%= student.studFname %></h3> 

<form action="/assc/<%= deptt._id %>/<%= student._id %>" method="post">

  <label>Select Course</label><br>
  <select name="courseId" required>
    <% course.forEach(c => { %>
      <option value="<%= c._id %>"><%= c.courseTitle %></option>
    <% }) %>
  </select>

  <button type="submit">Assign</button>
</form>


</body>
</html>