<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Select Batch</h3>
     <form action="/createCours" method="get">
    <button type="submit">create courses</button>
  </form>
<% batches.forEach(b => { %>
  <a href="/dept/<%= dept._id%>?batch=<%= b %>">
    <button><%= b %></button>
  </a>
 
<% }) %>

<% if (selectedBatch) { %>
  <h3>Student List (Batch <%= selectedBatch %>)</h3>

  <% if (stu.length > 0) { %>
    <ul>
      <% stu.forEach(s => { %>
        <li>
          <%= s.studFname %> <%= s.studSname %>
          - Section: <%= s.section %>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>No students found</p>
  <% } %>
<% } %>


</body>
</html>